body, html {
    background-color: #FFFDF2;
}

.hero {
    background: url(/image/hero1.png) no-repeat fixed 0% 16%;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.btn-primary {
    background-color: #273ECC !important;
}

.bg-primary {
    background-color: #273ECC !important;
}

.main {
    background-color: #FFFDF2;
    width: 50%;
}