body, html {
    background-color: #FFFDF2;
}

.hero {
    background: url(/image/hero1.png) no-repeat fixed 0% 16%;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.btn-primary {
    background-color: #273ECC !important;
}

.bg-primary {
    background-color: #273ECC !important;
}

.main {
    background-color: #FFFDF2;
    width: 50%;
}

.lecture-image {
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    display: inline-block;
}

.lecture-image img {
    height: 100%;
    width: 100%;
}

.row a {
    text-decoration: none;
    color: black;
}

.lecture-text span {
    font-size: larger;
}