<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Přihlášení</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="pt-3">Přihlašovací stránka</h1>
            <form th:action="@{/login}" th:method="post">
                <div class="form-group">
                    <label for="username">Přihlašovácí jméno:</label>
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Jméno"
                           required>
                </div>
                <div class="form-group">
                    <label for="password">Heslo:</label>
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Heslo"
                           required>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-primary"
                                   value="Přihlásit se"
                                   th:href="@{/lecture}">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <a type="submit" th:href="@{/user/registration}">Registrace</a>


</div>
</body>
</html>