<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Vítejte</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center mt-md-3">Vítejte v Englingu!</h1>
    <h4 class="text-center p-md-2">Učte se anglicky rychle a zdarma.</h4>
    <div class="text-center px-3 mt-5">
        <a type="submit" th:href="@{/login}" class="btn btn-info col-sm-offset-3 btn-lg">Mám zájem se připojit</a>
    </div>
</div>
</body>
</html>