<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Lekce</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="pt-3">Lekce</h1>
    <div class="container">
        <div class="row">
            <a th:each="lecture: ${lectures}" style="display:block" th:href="@{/lectures(id=${lecture.id})}">
                <div class="col-4 col-sm-3 m-3">
                    <div class="lecture-image">
                        <img th:attr="src=${lecture.pictureUrl}">
                    </div>
                    <div class="p-1 lecture-text">
                        <span th:text="${lecture.title}">...</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>