<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Správa uživatelů</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center mt-md-3">Přehled a správa uživatelů</h1>
    <div>
        <a type="submit" th:href="@{/registration}" class="btn-primary col-sm-offset-3 btn-lg">Přidat uživatele</a>
    </div>
    <div class="p-4">
        <table class="table">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Jméno</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Datum připojení</th>
            </tr>
            <tbody th:block th:each="user, iStat : ${users}">
            <tr>
                <td th:text="${iStat.index + 1}">...</td>
                <td th:text="|${user.firstName} ${user.lastName}|">...</td>
                <td th:text="${user.email}">...</td>
                <td th:text="${user.active} ? 'ACTIVE' : 'DELETED'">...</td>
                <td th:text="${user.created}">...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>